
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding-bottom: 40px;
    background: url('/img/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;

    
   
    
}

.desc {
    font-size: 25px;
    color: rgb(248, 241, 241);
    display: inline-block;
    margin-left: 14px;
    font-weight: 600;
    
   
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    margin-inline: auto;
   
}

.title {
    align-self: center;
    color: aliceblue;
    padding-top: 40px;
    
}

.menu_section {
    margin-inline: auto;
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        flex-direction:column;
        max-width: 850px;
        margin-inline: auto;
       
    }
} 